task: regression
seed: 0
grad_ckpt: True

logging:
  dir: ./outputs/regression/mnms2/${now:%Y-%m-%d}/${now:%H-%M-%S}_${data.regression_column}_seed${seed}
  wandb:
    project: cinema-regression-mnms2
    entity: null
    name: ${data.regression_column}_seed${seed}_${now:%Y%m%d_%H%M%S}

data:
  name: mnms2
  dir: /home/joan/.cache/cinema_datasets/mnms2/processed
  sax:
    spacing: [1.0, 1.0, 10.0]
    patch_size: [192, 192, 16]
    in_chans: 1
  lax:
    spacing: [1.0, 1.0]
    patch_size: [256, 256]
    in_chans: 1
  max_n_samples: -1
  proportion: 1.0
  regression_column: "lv_ef"
  # ef:
  #   mean: 37.97920801605608
  #   std: 10.328604573626588
  ef:
    mean: 52.447079
    std: 14.356394

transform:
  prob: 0.5
  gamma: [0.5, 1.5]
  scale_range: 0.2
  sax:
    rotate_range: [0, 0, 180]
    translate_range: [60, 60, 0]
  lax:
    rotate_range: [180]
    translate_range: [80, 80]

train:
  n_workers: 4
  clip_grad: 5.0
  weight_decay: 0.05
  layer_decay: 0.75
  betas: [0.9, 0.95]
  label_smoothing: 0.1
  lr: 1e-3
  min_lr: 1e-5
  n_warmup_epochs: 10
  n_epochs: 800
  max_n_ckpts: 5
  batch_size: 28
  batch_size_per_device: 4
  eval_interval: 10
  early_stopping:
    metric: "val_mae"
    mode: "min"
    patience: 10
    min_delta: 1e-4

model:
  name: convvit # convvit, resnet
  ckpt_path: /home/joan/.cache/huggingface/hub/models--mathpluscode--CineMA/snapshots/b1251ee50423bceeca84c080782fc3bc7756dea6/pretrained/cinema.safetensors
  freeze_pretrained: False
  views: sax # sax, lax
  n_frames: 2
  out_chans: 1
  convvit:
    size: base # tiny, base, large, huge
    enc_patch_size: [4, 4, 1]
    enc_scale_factor: [2, 2, 1]
    enc_conv_chans: [64, 128]
    enc_conv_n_blocks: 2
    dropout: 0.1
    drop_path: 0.1
  resnet:
    depth: 50 # 10, 18, 34, 50, 101, 152
    layer_inplanes: [64, 128, 256, 512]
